.open-sans {
  font-family: "Open Sans", sans-serif;
}
/* shared css */
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  font-size: 20px;
  font-weight: 700;
  background-color: #fd6e0a;
  color: white;
  padding: 18px 36px;
  border: none;
  border-radius: 8px;
}
.btn-seconder {
  font-size: 20px;
  font-weight: 700;
  background-color: #fff8f3;
  color: #fd6e0a;
  padding: 18px 36px;
  border: 3px solid;
  border-radius: 8px;
}
header {
  background-image: url(Image/developer.png), url(Image/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 230px;
}
.nav-title {
  font-weight: 900;
  font-size: 45px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul > li {
  font-weight: bold;
  list-style: none;
  margin-right: 50px;
}
nav li a {
  font-size: 20px;
  text-decoration: none;
}
/* banner Css */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 230px;
}
.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #645d5d;
}
.banner-content h1 {
  font-size: 85px;
  color: rebeccapurple;
}
